@charset "UTF-8";
*{
    font-family:"Fira code",Arial, Helvetica, sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    background-color:#568ADB;
    border-bottom: 6px solid #000;
    padding:10px 20px;
}
nav{
   text-align: right; 
}

a{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family:"Fira code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before{
    content:"";
    background-color: #01C2CD;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#Pagina{
    color: #000;
}
#home{
    color: #000;
}
p{
    text-align: justify;
}
h1{
    font-size: 40px;
    color:#568ADB;
    text-shadow: 2.5px 2.5px 0 #000;
    text-align: center;
}
h2{
    font-size: 30px;
    color:#fff;
    text-shadow: 2.5px 2.5px 0 #000;
    text-align: center;
}
